In [1]:
from urllib import request
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn import decomposition
from sklearn import preprocessing
sns.set()
# Python program to read 
# json file 
 
import json

In [2]:
data1 = pd.read_json('yelp_academic_dataset_business.json', lines=True)

In [3]:
data1

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,Yzvjg0SayhoZgCljUJRF9Q,"Carlos Santo, NMD","8880 E Via Linda, Ste 107",Scottsdale,AZ,85258,33.569404,-111.890264,5.0,4,1,"{'GoodForKids': 'True', 'ByAppointmentOnly': '...","Health & Medical, Fitness & Instruction, Yoga,...",None
2,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,None,"Pets, Pet Services, Pet Groomers",None
3,6OAZjbxqM5ol29BuHsil3w,Nevada House of Hose,1015 Sharp Cir,North Las Vegas,NV,89030,36.219728,-115.127725,2.5,3,0,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Hardware Stores, Home Services, Building Suppl...","{'Monday': '7:0-16:0', 'Tuesday': '7:0-16:0', ..."
4,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726648,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209388,9Q0fPWAjUweoFDk0kafuzQ,Nishi Sushi,9750 Weston Road,Vaughan,ON,L4H 2P2,43.838555,-79.559823,4.0,5,0,"{'Ambience': '{'romantic': False, 'intimate': ...","Japanese, Sushi Bars, Restaurants","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
209389,PotiAhtDMYMNsJCzV0oLAw,Walmart,3240 Wilkinson Blvd,Charlotte,NC,28208,35.226307,-80.893539,2.0,13,0,"{'RestaurantsPriceRange2': '1', 'BusinessParki...","Department Stores, Food, Mobile Phones, Fashio...",None
209390,SYa2j1boLF8DcGVOYfHPcA,Five Guys,7014-590 E Camelback Rd,Scottsdale,AZ,85251,33.504062,-111.929431,3.5,97,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","American (New), Food, Burgers, Restaurants, Fa...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
209391,RSSIsgO00OuWQTRoITacpA,Indian Trail Dog Training,,Indian Trail,NC,28079,35.101965,-80.599385,5.0,3,1,None,"Pet Services, Pet Training, Pets","{'Monday': '0:0-0:0', 'Tuesday': '7:0-19:0', '..."
209392,tOcYmewXFhQeZh3V42ymwg,Kudlow Ye,"21 St Clair Avenue E, Suite 401",Toronto,ON,M4T 1L9,43.688214,-79.392756,5.0,3,1,None,"Tax Services, Professional Services, Accountan...","{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ..."

In [4]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   209393 non-null  object
 1   name          209393 non-null  object
 2   address       209393 non-null  object
 3   city          209393 non-null  object
 4   state         209393 non-null  object
 5   postal_code   209393 non-null  object
 6   latitude      209393 non-null  float64
 7   longitude     209393 non-null  float64
 8   stars         209393 non-null  float64
 9   review_count  209393 non-null  int64
 10  is_open       209393 non-null  int64
 11  attributes    180348 non-null  object
 12  categories    208869 non-null  object
 13  hours         164550 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 22.4+ MB

In [5]:
data1 = data1[data1.categories == 'Restaurants']
data1

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
892,I24pVfCFcQXBU6cbw3cTbA,Marvellous Edibles,120 Laird Dr,East York,ON,M4G 3V3,43.706903,-79.362240,3.5,4,0,"{'GoodForKids': 'True', 'BusinessParking': '{'...",Restaurants,None
1518,0v7DIprUj2KASqg5PwqhUg,Burrell Inn,2734 Leechburg Rd,New Kensington,PA,15068,40.590214,-79.735945,3.5,9,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None
1882,IotFqwZTgTpFxO1ZtiZE-A,Restaurant Amir,2921 Boul De La Concorde E,Laval,QC,H7E 2B5,45.591893,-73.670158,3.5,3,1,None,Restaurants,None
2030,mxsgQr4mugtFCsu8ZqzFLA,Luchita's In Mentor,8870 Mentor Ave,Mentor,OH,44060,41.673859,-81.322821,2.5,3,1,"{'RestaurantsGoodForGroups': 'False', 'Busines...",Restaurants,None
2253,G3tC4w70WyJ3Mk8udzENLQ,Restaurant Chez Dan,263 Boul Saint-Luc,Saint-Jean-sur-Richelieu,QC,J2W 1C4,45.354274,-73.294999,3.0,4,1,None,Restaurants,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204383,q2HvtPAuc9g3v2B0AjTSFw,Magoos Lodge,1817 N Boulder Hwy,Henderson,NV,89011,36.063601,-115.009852,3.5,7,1,"{'GoodForKids': 'False', 'RestaurantsGoodForGr...",Restaurants,None
204786,4fMwSAmby7wPkkEFw19xdg,Sandey's Broaster Chicken,1155 S Higley Rd,Mesa,AZ,85205,33.394326,-111.718780,2.5,3,0,"{'RestaurantsDelivery': 'False', 'BusinessAcce...",Restaurants,None
204931,veaUBU4pq5dJm6Em6wgEMg,Soup Factory,1901 Cayuga St,Middleton,WI,53562,43.096129,-89.513673,3.0,3,0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",Restaurants,None
206784,hG-okRD-mjpZQheWT9gwBg,Ollies Omelette House,5166 W Olive Ave,Glendale,AZ,85302,33.567529,-112.171233,2.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None
208888,5qdMR7QOcDtxAr92SCuYbA,Big Wong Restaurant,616 W Indian School Rd,Phoenix,AZ,85013,33.495171,-112.082133,4.5,5,0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None

In [6]:
def load_json2(jpath):
    data_iterator = pd.read_json(jpath, chunksize=100000, lines=True)
    chunk_list = []
    for data_chunk in data_iterator:
        filtered_chunk = data_chunk.filter(items=['review_id', 'business_id', 'text', 'stars'])
        chunk_list.append(filtered_chunk)
        print('chunk appended')
        print()

    df = pd.concat(chunk_list)
    return df

In [7]:
data2 = load_json2('yelp_academic_dataset_review.json')

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

chunk appended

In [8]:
data2

,review_id,business_id,text,stars
0,xQY8N_XvtGbearJ5X4QryQ,-MhfebM0QIsKt87iDN-FNw,"As someone who has worked with many museums, I...",2
1,UmFMZ8PyXZTY2QcwzsfQYA,lbrU8StCq3yDfr-QMnGrmQ,I am actually horrified this place is still in...,1
2,LG2ZaYiOgpr2DK_90pYjNw,HQl28KMwrEKHqhFrrDqVNQ,I love Deagan's. I do. I really do. The atmosp...,5
3,i6g_oA9Yf9Y31qt0wibXpw,5JxlZaqCnk1MnbgRirs40Q,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",1
4,6TdNDKywdbjoTkizeMce8A,IS4cv902ykd8wj1TR0N3-A,"Oh happy day, finally have a Canes near my cas...",4
...,...,...,...,...
8021117,LAzw2u1ucY722ryLEXHdgg,XW2kaXdahICaJ27A0dhGHg,"Fricken unbelievable, I ordered 2 space heater...",1
8021118,gMDU14Fa_DVIcPvsKtubJA,IsoLzudHC50oJLiEWpwV-w,Solid American food with a southern comfort fl...,3
8021119,EcY_p50zPIQ2R6rf6-5CjA,kDCyqlYcstqnoqnfBRS5Og,I'm honestly not sure how I have never been to...,5
8021120,-z_MM0pAf9RtZbyPlphTlA,VKVDDHKtsdrnigeIf9S8RA,Food was decent but I will say the service too...,3
8021121,nK0JGgr8aO4mcFPU4pDOEA,2SbyRgHWuWNlq18eHAx95Q,"Oh yeah! Not only that the service was good, t...",5

# SÃ©lection uniquement des avis insatisfactions

In [9]:
data2 = data2[data2.stars < 3]
data2

,review_id,business_id,text,stars
0,xQY8N_XvtGbearJ5X4QryQ,-MhfebM0QIsKt87iDN-FNw,"As someone who has worked with many museums, I...",2
1,UmFMZ8PyXZTY2QcwzsfQYA,lbrU8StCq3yDfr-QMnGrmQ,I am actually horrified this place is still in...,1
3,i6g_oA9Yf9Y31qt0wibXpw,5JxlZaqCnk1MnbgRirs40Q,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",1
15,mjbs5CL4eMu4o6_VtYhN3Q,7Ka9Pd8X9SRHs1D5EcleLg,"If I could give less than one star, that would...",1
16,bVTjZgRNq8ToxzvtiVrqMA,d4qwVw4PcN-_2mK2o1Ro1g,10pm on a super bowl Sunday and they're alread...,1
...,...,...,...,...
8021110,wOQzy0OFrR2-l5FyE5fw3A,HeXqWK3kwctNZtqI0NEr7w,Just closed my account at MIDFIRST Bank COOPER...,1
8021111,LtgyXp37zMQuXJUQJYC_1A,lvOOJmJ4y0BLi31Muq3a8w,I was looking for to eating here for quite som...,2
8021114,GftJ5qKiMRSxS4_b9wg5Rw,bzS33HppGW7eHlFqi1wQGw,Greedy monks. All I can say\n\nRequires a mini...,1
8021116,43ugcDASS-mGv0eYozge_g,H85um1dDQHAeUJ6AqYIqww,I'm still reminded of my move every time I see...,1
8021117,LAzw2u1ucY722ryLEXHdgg,XW2kaXdahICaJ27A0dhGHg,"Fricken unbelievable, I ordered 2 space heater...",1

# Jointure des avis d'insatisfactions en fonction des restaurants

In [10]:
DataResto = pd.merge(data1, data2, how='inner', on=['business_id'])
DataResto

,business_id,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,is_open,attributes,categories,hours,review_id,text,stars_y
0,I24pVfCFcQXBU6cbw3cTbA,Marvellous Edibles,120 Laird Dr,East York,ON,M4G 3V3,43.706903,-79.362240,3.5,4,0,"{'GoodForKids': 'True', 'BusinessParking': '{'...",Restaurants,None,LVgwBW4Bt3NTM84MVXpnsA,I decided to try Marvellous Edibles because of...,1
1,0v7DIprUj2KASqg5PwqhUg,Burrell Inn,2734 Leechburg Rd,New Kensington,PA,15068,40.590214,-79.735945,3.5,9,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None,MqKL9ELC4iHVgXxOwmrUOA,Came back into town after I moved out of state...,2
2,0v7DIprUj2KASqg5PwqhUg,Burrell Inn,2734 Leechburg Rd,New Kensington,PA,15068,40.590214,-79.735945,3.5,9,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None,GUpDFgYfcXjuq_xxijWE4g,Stopped in to order a White pizza after shoppi...,1
3,0v7DIprUj2KASqg5PwqhUg,Burrell Inn,2734 Leechburg Rd,New Kensington,PA,15068,40.590214,-79.735945,3.5,9,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None,TrkTEStdJPBVB2usbcFUww,This is a great place for drinks and bar food ...,2
4,IotFqwZTgTpFxO1ZtiZE-A,Restaurant Amir,2921 Boul De La Concorde E,Laval,QC,H7E 2B5,45.591893,-73.670158,3.5,3,1,None,Restaurants,None,FoHHT8TZ8TcFrARtOeCO7g,Bad customer service and rude employees. Unfri...,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406,4fMwSAmby7wPkkEFw19xdg,Sandey's Broaster Chicken,1155 S Higley Rd,Mesa,AZ,85205,33.394326,-111.718780,2.5,3,0,"{'RestaurantsDelivery': 'False', 'BusinessAcce...",Restaurants,None,EmxeWFpe7zEv1W0YRucisw,My friends and I went to Sandey's Broaster Chi...,1
407,veaUBU4pq5dJm6Em6wgEMg,Soup Factory,1901 Cayuga St,Middleton,WI,53562,43.096129,-89.513673,3.0,3,0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...",Restaurants,None,OrByaDp25f5rFYNt8FK3ng,"The soup wasn't bad, but the guy who was servi...",2
408,hG-okRD-mjpZQheWT9gwBg,Ollies Omelette House,5166 W Olive Ave,Glendale,AZ,85302,33.567529,-112.171233,2.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None,j6eGoEA0_GUBZH2-TQHx-A,Ate here 2 times for breakfast. Not sure why...,1
409,hG-okRD-mjpZQheWT9gwBg,Ollies Omelette House,5166 W Olive Ave,Glendale,AZ,85302,33.567529,-112.171233,2.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None,zt3Tu6ISOCPLyRlMHrpkRQ,I came into Ollies this morning and ordered a ...,1
410,hG-okRD-mjpZQheWT9gwBg,Ollies Omelette House,5166 W Olive Ave,Glendale,AZ,85302,33.567529,-112.171233,2.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...",Restaurants,None,HsHTh_seQXu_J-b_UIDeNw,I'm giving this place a 2 stars because of the...,2

In [11]:
data3 = pd.read_json('yelp_academic_dataset_checkin.json', lines=True)

In [12]:
data3

,business_id,date
0,--1UhMGODdWsrMastO9DZw,"2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016..."
1,--6MefnULPED_I942VcFNA,"2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012..."
2,--7zmmkVg-IMGaXbuVd0SQ,"2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015..."
3,--8LPVSo5i0Oo61X01sV9A,2016-07-08 16:43:30
4,--9QQLMTbFzLJ_oT-ON3Xw,"2010-06-26 17:39:07, 2010-08-01 20:06:21, 2010..."
...,...,...
175182,zzvlwkcNR1CCqOPXwuvz2A,"2017-05-06 20:05:15, 2017-05-12 22:37:03, 2017..."
175183,zzwaS0xn1MVEPEf0hNLjew,"2010-02-16 02:09:56, 2010-07-05 05:40:48, 2010..."
175184,zzwhN7x37nyjP0ZM8oiHmw,"2016-03-06 13:27:02, 2016-03-09 00:41:53, 2016..."
175185,zzwicjPC9g246MK2M1ZFBA,"2012-09-22 00:26:15, 2012-09-23 20:12:00, 2012..."
175186,zzzaIBwimxVej4tY6qFOUQ,"2012-10-12 16:26:35, 2012-10-19 19:31:14, 2012..."

In [13]:
data4 = pd.read_json('yelp_academic_dataset_tip.json', lines=True)

In [14]:
data4

,user_id,business_id,text,date,compliment_count
0,hf27xTME3EiCp6NL6VtWZQ,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08,0
1,uEvusDwoSymbJJ0auR3muQ,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45,0
2,AY-laIws3S7YXNl_f_D6rQ,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42,0
3,Ue_7yUlkEbX4AhnYdUfL7g,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,2014-06-06 01:10:34,0
4,LltbT_fUMqZ-ZJP-vJ84IQ,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",2011-04-08 18:12:01,0
...,...,...,...,...,...
1320756,ayaRhAPJxrP-AQq6KeiBhg,ImkAc07Pppz0D3KC4iBTng,I love this place,2019-05-03 23:53:17,0
1320757,PWX9qW1zOXKyILZAtP8OTQ,nizlIF4pl2_6zZkFITBApA,"Amazing cookies, great staff, great delivery! ...",2019-05-02 00:09:01,0
1320758,99L0bntmbChEwShH440C2Q,10jP6njt3elD90gaHF1FBQ,Just perfect. Had this ice cream 3 times in 1 ...,2019-08-05 01:53:37,0
1320759,I8DpwNemLrFnAuCAYmu_sw,gA9hCYY7MYl9oZ3aym5dvw,Orgasm rolls are on point!!!,2019-03-29 23:36:01,0
1320760,wih8f09C3axtuuiz9t-_yQ,84RdNjDKXKzqZlSlT6G6PA,"Slow service, rude staff.",2019-08-30 18:00:43,0

In [15]:
data5 = pd.read_json('yelp_academic_dataset_user.json', lines=True)

In [16]:
data5

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,ntlvfPzc8eglqvk92iDIAw,Rafael,553,2007-07-06 03:27:11,628,225,227,,"oeMvJh94PiGQnx_6GlndPQ, wm1z1PaJKvHgSDRKfwhfDg...",14,...,2,1,0,1,11,15,22,22,10,0
1,FOBRPlBHa3WPHFB5qYDlVg,Michelle,564,2008-04-28 01:29:25,790,316,400,"2008,2009,2010,2011,2012,2013","ly7EnE8leJmyqyePVYFlug, pRlR63iDytsnnniPb3AOug...",27,...,4,5,2,1,33,37,63,63,21,5
2,zZUnPeh2hEp0WydbAZEOOg,Martin,60,2008-08-28 23:40:05,151,125,103,2010,"Uwlk0txjQBPw_JhHsQnyeg, Ybxr1tSCkv3lYA0I1qmnPQ...",5,...,6,0,1,0,3,7,17,17,4,1
3,QaELAmRcDc5TfJEylaaP8g,John,206,2008-09-20 00:08:14,233,160,84,2009,"iog3Nyg1i4jeumiTVG_BSA, M92xWY2Vr9w0xoH8bPplfQ...",6,...,1,0,0,0,7,14,7,7,2,0
4,xvu8G900tezTzbbfqmTKvA,Anne,485,2008-08-09 00:30:27,1265,400,512,"2009,2010,2011,2012,2014,2015,2016,2017,2018","3W3ZMSthojCUirKEqAwGNw, eTIbuu23j9tOgmIa9POyLQ...",78,...,9,2,1,1,22,28,31,31,19,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1968698,gDC6V3sfu9SixRic9hkEQQ,Larry,9,2014-04-27 16:17:05,1,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1968699,VEAWhS_RF-cKSUflmbCn7Q,Frank,10,2011-10-06 23:38:14,21,12,4,,None,0,...,0,0,0,0,0,0,0,0,0,0
1968700,toAMthOzk2VDBgpW7Hu3eA,Greg,1,2016-05-08 16:42:58,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1968701,hNX_EqOMImKGUx4g1x532A,RJ,2,2019-06-22 21:39:22,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1968702,9lsXyOI065n-T0pJ_EoA_w,Aaron,2,2018-08-17 21:10:18,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968703 entries, 0 to 1968702
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             object
 1   name                object
 2   review_count        int64
 3   yelping_since       object
 4   useful              int64
 5   funny               int64
 6   cool                int64
 7   elite               object
 8   friends             object
 9   fans                int64
 10  average_stars       float64
 11  compliment_hot      int64
 12  compliment_more     int64
 13  compliment_profile  int64
 14  compliment_cute     int64
 15  compliment_list     int64
 16  compliment_note     int64
 17  compliment_plain    int64
 18  compliment_cool     int64
 19  compliment_funny    int64
 20  compliment_writer   int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 330.4+ MB

In [18]:
data6 = pd.read_json('photos.json', lines=True)

In [19]:
data6

,photo_id,business_id,caption,label
0,001kKc6P_rmgaXThAHxEkw,zKZc8GwCaKbACaV0HZAmpg,Clean and simple interior,inside
1,002gqWfVal1D2DT6oA-bVQ,qnZzSC4TKen19Gz9nyKCvw,12oz. Boneless Ribeye | Grilled to perfection ...,food
2,002GtTSYyQ4swIZyEnfF5A,9km51KaQujxsSgdaG9gYSw,"The Most Yummy Tarts: Chantilly, Guava, Salted...",food
3,0036yehPJxVwNZDRDYH2jQ,Qg9L37JCd-PkcWMj9VAWmw,Dynamic Duo! Great dance music!,inside
4,003Isvt6NCJ567PdAEwrfA,zgQHtqX0gqMw1nlBZl2VnQ,,food
...,...,...,...,...
199995,ZZZe7u0FOUIViEHdZyiLdQ,EkWxaYNt92DPjwXik7TbAQ,Honey Garlic Pizza,food
199996,zZzjnzvMPoToXJpej1AI8w,xfCgxY_SQfzxFsQjNiLJEQ,I'm from LA and could not walk by wo stopping....,inside
199997,ZZzMJaFD6f6DTUHEb23zxA,NtiBsNppXU0XS4zM89dphQ,STC TASTE MRKT - A new food experience,inside
199998,ZzZW8rydLi9ZrpwTFJ5amw,cYwJA2A6I12KNkm2rtXd5g,,inside
199999,ZZZZw6bhGibK29E5Na9Pag,PIvOFRxQZLlhXZRO9o5ujg,Monday nights,inside

In [20]:
# CrÃ©ation du fichier csv P6_01_0_DataAvisInsatisfaction
DataResto.to_csv('P6_01_0_DataAvisInsatisfaction.csv', index = False)